<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @mission_record.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @mission_record.longitude %>
</p>

<p>
  <strong>Drone:</strong>
  <%= @mission_record.drone %>
</p>

<%= link_to 'Edit', edit_mission_record_path(@mission_record) %> |
<%= link_to 'Back', mission_records_path %>
