<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<!--<p id="notice"><%#= notice %></p>-->
<style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 70%;
  }


</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DroneTracker</a>
    </div>
    <ul class="nav navbar-nav">
      <div class="container">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drone
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/drone/drone_list">Drone List</a>
            <a class="dropdown-item" href="/drone/drone_registration">Register a Drone</a>
          </div>
        </div>
        <a href="/missions" class="btn btn-primary" role="button">Mission List</a>



        <div class="btn btn-read">
          <%= link_to 'Field Observation Mission', welcome_index_path %>
        </div>



        <a href="/" class="btn btn-info" role="button">Home</a>
        <a href="https://validator.w3.org" class="btn btn-info" role="button">Validate this Site</a>
        <a href="/posts" class="btn btn-info" role="button">Forum</a>
        <a href="/forecasts/show" class="btn btn-info" role="button">Weather Forecast</a>

        <% if user_signed_in? %>
          <% if current_user.admin %>
            <a href="/drone/users_list" class="btn btn-info" role="button">User Management</a>
          <% end %>

          </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="container">



              <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>

        </div>
        </ul>
  </div>
</nav>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/drone/drone_list"><img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/NrM0QFs3gilniuv44/3d-model-of-a-flying-drone-on-a-dark-background-4k-video_bjff7lyvdg_thumbnail-full05.png" alt="Los Angeles" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Drone List</h3>
          <p>We'd love to view some drones.</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/missions"><img src="https://s3.amazonaws.com/giveffect-assets/blog/wp-content/uploads/2018/04/03132106/How-to-Craft-the-Best-Mission-Statement-for-Your-Business-1068x601.jpg" alt="Chicago" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Mission List</h3>
          <p>Let's create some missions.</p>
        </div>
      </a>
    </div>
    <div class="carousel-item">
      <a href="/posts"> <img src="https://www.marketingdonut.co.uk/sites/default/files/questions-that-research-could-help-you-answer-366899399.jpg" alt="New York" width="1100" height="500">
        <div class="carousel-caption">
          <h3>Forum</h3>
          <p>Ask me anything</p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<hr>

<div class="container">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <strong class="card-title">Drone Overview</strong>
        <hr>
        <p class="card-text">Total Drones: <%= @drone_count%></p>
        <p class="card-text">Last Created Drone Name: <%= @last_drone.blank? ? "Not Available" : @last_drone%></p>
        <p class="card-text">Status: <%= @last_status.blank? ? "Not Available" : @last_status%></p>
        <p class="card-text">Last known Location: Latitude :<%= @last_latitude.blank? ? "Not Available" : @last_latitude %> & Longitude: <%= @last_longitude.blank? ? "Not Available" : @last_longitude  %></p>
        <%= link_to 'Track this drone', drone_drone_tracker_path(drone: Drone.last), class: "btn btn-primary" %>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <strong class="card-title">Mission Overview</strong>
        <hr>
        <p class="card-text">Total Missions: <%= @mission_count%></p>
        <p class="card-text">Last Created Mission Name: <%= @last_mission.blank? ? "Not Available" : @last_mission%></p>
        <p class="card-text">Last Created Mission Destined Location: <%= @last_location.blank? ? "Not Available" : @last_location%></p>
        <a href="/missions" class="btn btn-primary">Show all mission</a>
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<!-- Footer -->
<footer class="page-footer font-small indigo">

  <!-- Footer Links -->
  <div class="container">

    <!-- Grid row-->
    <div class="row text-center d-flex justify-content-center pt-5 mb-3">

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="/index/about">About</a>
        </h6>
      </div>
      <!-- Grid column -->


      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="#!">Help</a>
        </h6>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 mb-3">
        <h6 class="text-uppercase font-weight-bold">
          <a href="https://www.facebook.com/waiyan.aung.1884">Contact</a>
        </h6>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="rgba-white-light" style="margin: 0 15%;">

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-md-8 col-12 mt-5">
        <p style="line-height: 1.7rem">This is the final capstone project for Wai Yan Aung@DroneTeam.</p>
        <p style="line-height: 1.7rem"><h4>GITHUB REPO:https://github.com/williamsaung/drone</h4></p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->
    <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

    <!-- Grid row-->
    <div class="row pb-3">
    </div>
  </div>
  </div>
  </div>

  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="https://teamdronex.com"> teamdronex.com</a> (last_updated:4/1)
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
<!-- Footer -->
</body>


</div>

<!--<br>-->

<%#= link_to 'New Drone', new_drone_path %>
