<!DOCTYPE html>
<html>
<title>Index</title>
<body>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Drone Registration</h1>
</div>



</body>

<!--    <h1>Problem Set 1</h1>-->
<%= form_tag("/drone/drone_create", method: "post", class: 'registration_form') do %>
  <div class="container">
    <%= label_tag(:name, "Name:") %>
    <%= text_field_tag(:name) %>
  </div>

  <br>

  <div class="container">
    <%= label_tag(:description, "Description:") %>
    <%= text_field_tag(:description) %>
  </div>

  <br>

  <div class="container">
    <%= label_tag(:connection_string, "Connection String:") %>
    <%= text_field_tag(:connection_string) %>
  </div>

  <hr>

  <div class="container">
    <%= submit_tag("Register") %>
  </div>
<% end %>

<hr>
</body>


