<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<!--<style>-->
<!--  body {-->
<!--    background: #007bff;-->
<!--    background: linear-gradient(to right, #0062E6, #33AEFF);-->
<!--  }-->
<!--</style>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">DroneTracker</a>
    </div>
    <ul class="nav navbar-nav">
      <div class="container">
        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Drone
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/drone/drone_list">Drone List</a>
            <a class="dropdown-item" href="/drone/drone_registration">Register a Drone</a>
          </div>
        </div>
        <a href="/missions" class="btn btn-primary" role="button">Mission List</a>
        <a href="/" class="btn btn-info" role="button">Home</a>
        <a href="https://validator.w3.org" class="btn btn-info" role="button">Validate this Site</a>
        <a href="/posts" class="btn btn-info" role="button">Forum</a>
        <% if user_signed_in? %>
          <% if current_user.admin %>
            <a href="/drone/users_lists" class="btn btn-info" role="button">User Management</a>
          <% end %>

          </div>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <div class="container">



              <li><p class="navbar-text">Signed in as <%= current_user.email %></p></li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><a href="/users/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/users/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <% end %>
        </div>
        </ul>
  </div>
</nav>

<div class="col justify-content-start">
  <div class="row">
<div class="container">
  <h1>Drones</h1>
</div>
  </div>

<div class="row">
<div class="container">


  <div class="row">
    <% @drones.each do |drone| %>
    <div class="col-sm-4">

      <div class="card bg-light mt-5">

        <div class="card-body">
          <h4 class="card-title">Name :<%= drone.name %> </h4>
          <p class="font-weight-bold"> Status:<%= drone.status %> </p>
          <p>Drone ID:<%= drone.id %></p>
          <p>Connection String:<%= drone.connection_string %></p>
          <p>Description:<%= drone.description %></p>
        </div>
        <ul class="list-group list-group-flush">
        </ul>
        <div class="card-body">
        <%= link_to 'Tracking', drone_drone_tracker_path(drone: drone.id), class: "btn btn-primary" %> <%= link_to "Create Mission", drone_drone_mission_path(drone_id: drone.id), class: "btn btn-primary" %>
        </div>
      </div>

    </div>

<%end %>

  </div>

</div>
</div>
</div>

</div>
</div>

<div class="container">

  <%= link_to 'Mission List', missions_path %>
</div>

<!--<br>-->

<%#= link_to 'New Drone', new_drone_path %>
