<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
</head>

<style>
  .container {
    padding: 10px;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  .pointer {
    cursor: pointer;
  }

  .pointer:hover {
    color: lightslategray;
  }

  .date {
    font-size: 27px;
    margin-left: 45px;
  }

  .day {
    margin-left: 60px;
  }

  .text_position {
    text-align: center;
    margin-top: 2px;
  }

  .daily_summary {
    font-size: 25px;
    font-weight: 300;
    color: black;
  }

  .container1 {
    color: #777;
    font-weight: normal;
  }
</style>

<script>
    function myFunction(number, date) {
        var detail_no = [1, 2, 3, 4, 5, 6, 7];
        var i;

        console.log(date);

        var navlogs = JSON.parse(
            $.ajax({type: "GET", url: `https://cors-anywhere.herokuapp.com/https://api.darksky.net/forecast/925ddee07107b0b3e46966edd64132b0/14.0754804,100.6100677,${date}?exclude=currently, daily, flags`, async: false}).responseText
        );

        console.log(navlogs);

        var  b = document.getElementById(`holder${number}`).innerHTML;
        if (b == "") {
            for ( var i=0; i < 24; i++ ) {

                var convt = navlogs.hourly.data[i].time;
                var dte = new Date(convt*1000);
                var hours = dte.getHours();
                var minutes = "0" + dte.getMinutes();

                var ampm = "am";
                if( hours >= 12 ) {
                    hours -= 12;
                    ampm = "pm";
                }
                if( hours === 0) {
                    hours = 12;
                }

                var formattedTime = hours + ':' + minutes.substr(-2);
                document.getElementById(`holder${number}`).innerHTML += formattedTime + ampm + " " + "---" + " " + "Temp:" + " " + navlogs.hourly.data[i].temperature + " " + "|" + " " + "Windspeed" + ":" + " " + navlogs.hourly.data[i].windSpeed + " " + "|" + " " + navlogs.hourly.data[i].icon + "<br>" + "<hr>";
                // holder.innerHTML += "<p>" + navlogs.hourly.data[i].temperature + "</p>";
            }
        }


        var x = document.getElementById(`detail${number}`);
        if (x.style.display === "none") {
            x.style.display = "block";
        }



        var show = document.getElementById(`holder${number}`);
        if (show.style.display === "none") {
            show.style.display = "block";
        }
        // else {
        //     show.style.display = "none";
        // }

        for (i = 1; i <= detail_no.length; i++) {
            if (i === number) {
                var btn = document.getElementById(`btn${i}`);
                btn.style.color = "lightslategray";
                continue;
            }
            else {
                var btn = document.getElementById(`btn${i}`);
                btn.style.color = "black";
                var y = document.getElementById(`detail${i}`);
                y.style.display = "none";
                var temp = document.getElementById(`holder${i}`);
                temp.style.display = "none";
            }

        }

    }
</script>
<body>

  <div class="container">
    <table>
      <tr>
        <% b = 1 %>
        <% @daily_weather.each do |day| %>
          <td id="btn<%= b %>" class="pointer" onclick="myFunction(<%= b %>, <%= Time.at(day.time).to_i %>)">
          <span class="date"> <%= Time.at(day.time).strftime('%A') %> </span><br>
            <span class="day"> <%= Time.at(day.time).strftime('%D') %> </span>
          </td>
          <% b = b + 1 %>
        <% end %>
      </tr>
    </table>
        <hr>
        <br>
        <% a = 1 %>
        <% @daily_weather.each do |day| %>
          <p class="text_position" id="detail<%= a %>"
             <% if Time.at(day.time).strftime('%A') == Time.now.strftime('%A') %>
             style="display: block"
             <% else %>
             style="display: none"
             <% end %>
             >

            <span class="daily_summary"> <%= day.summary %> </span><br>
            <span class="container1"> High: <%= day.apparentTemperatureMax %> | Low: <%= day.apparentTemperatureMin %><br>
            Windspeed: <%= day.windSpeed %> </span> <br>
          </p>
          <% a = a + 1 %>
        <% end %>
        <br>



<% z = 1 %>
    <% array = [1,2,3,4,5,6,7] %>
    <% array.each do |more| %>
       <p class="daily_detail" id="holder<%= z %>"></p>
      <% z = z + 1 %>
    <% end %>
  </div>

</body>
</html>
