<!DOCTYPE html>
<html>
<head>
</head>
<style>

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 2em;
    letter-spacing: -2px;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  /*ul {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*overflow: hidden;*/
    /*background-color: #333;*/
  /*}*/

  /*li {*/
    /*float: left;*/
  /*}*/

  /*li a {*/
    /*display: block;*/
    /*color: white;*/
    /*text-align: center;*/
    /*padding: 14px 16px;*/
    /*text-decoration: none;*/
  /*}*/

  /*li a:hover {*/
    /*background-color: #111;*/
  /*}*/

  /*.container {*/
    /*padding-top: 10px;*/
  /*}*/

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #111;
  }

  .middle {
    text-align: center;
  }

  .temp {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 500;
    color: black;
  }

  .summary {
    margin-top: 7px;
    font-size: 40px;
    font-weight: 500;
    white-space: pre-line;
    color: black;
  }

  .container1 {
    color: #777;
    font-weight: normal;
  }

  .pressure {
    margin-left: 30px;
  }

  .humidity {
    margin-left: 30px;
  }

  .visibility {
    margin-left: 30px;
  }

  .icon {
    margin-left: 30px;
  }

  .weather_detail {
    float: right;
  }

  .led {
    color: #777;
    font-weight: normal;
    float: left;
  }

  .available {
    float: right;
    margin-right: 15px;
  }

  .not_available {
    float: right;
    margin-right: 15px;
  }

  .led-green {
    /*margin: 0 auto;*/
    width: 10px;
    height: 10px;
    background-color: #80ff00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    display: inline-block;
  }

  .led-red {
    /*margin: 0 auto;*/
    width: 10px;
    height: 10px;
    background-color: #ff0000;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #ff0000 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
    display: inline-block;
  }

  .open_close {
    margin-top: 10px;
    float: left;
  }

  .open_door {
    float: right;
    margin-right: 15px;
  }

  .close_door {
    float: right;
    margin-right: 15px;
  }

  #customers {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    border-collapse: collapse;
    width: 100%;
  }

  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers tr:nth-child(even){background-color: #f2f2f2;}

  #customers tr:hover {background-color: #ddd;}

  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }
</style>

<body>
<!--  <ul>-->
<!--    <li><a class="active" href="#home">Home</a></li>-->
<!--    <li><a href="#news">News</a></li>-->
<!--    <li><a href="#contact">Contact</a></li>-->
<!--    <li><a href="#about">About</a></li>-->
<!--  </ul>-->
<ul>
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>
  <div class="container">
    <div class="middle">
      <img src="/partly_cloudly.png" width="120" height="100" alt="weather icon"> <span class="temp"><%= @current_weather.temperature %> °F</span>
      <div class="summary"> <%= @current_weather.summary %></div>
        <div class="container1">
          Wind:
          <%= @current_weather.windSpeed %> mph

          <span class="pressure">
            Pressure:
            <%= @current_weather.pressure %> mb
          </span>

          <span class="humidity">
            Humidity:
            <%= @current_weather.humidity * 100 %> %
          </span>

          <span class="visibility">
            Visibility:
            <%= @current_weather.visibility %> km
          </span>

          <span class="icon">
            Icon:
            <%= @current_weather.icon %>
          </span>

          <span class="weather_detail">
            <%= link_to 'more details', forecasts_details_path, method: :get %>
          </span>
        </div>
    </div>
    <hr>
    <h1>Available Drones</h1>
    <span class="led">
      <span class="available">
         <span class="led-green"></span> : available
      </span>
      <span class="not_available">
        <span class="led-red"></span> :  not available
      </span>
    </span>
    <br>
    <br>
    <table id="customers">
      <tr>
        <th>Drone ID and status</th>
        <th>Battery</th>
      </tr>
      <tr>
        <td><span class="led-red"></span> Drone1 </td>
        <td><%= @sim_battery %></td>
      </tr>
      <tr>
        <td><span class="led-red"></span> Drone2 </td>
        <td><%= @real_battery %></td>
      </tr>
    </table>
    <br>
    <hr>
    <h1>Fleet Control</h1>
    <span class="open_close">
      <span class="open_door"> <%= link_to 'Open Door', base_open_door_path, method: :put %> </span>
      <span class="close_door"> <%= link_to 'Close Door', base_close_door_path, method: :put %> </span>
    </span>
  </div>
</body>
</html>