<!DOCTYPE html>
<html>
<head>
</head>

<style>

  h1, h2, h3, h4, h5, h6 {
    line-height: 1;
  }

  h1 {
    font-size: 2em;
    letter-spacing: -2px;
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
  }

  .container {
    padding: 20px;
  }

  .middle {
    text-align: center;
  }

  .temp {
    margin-left: 10px;
    font-size: 40px;
    font-weight: 500;
    color: black;
  }

  .summary {
    margin-top: 7px;
    font-size: 40px;
    font-weight: 500;
    white-space: pre-line;
    color: black;
  }

  .container1 {
    color: #777;
    font-weight: normal;
  }

  .pressure {
    margin-left: 30px;
  }

  .humidity {
    margin-left: 30px;
  }

  .visibility {
    margin-left: 30px;
  }

  .weather_detail {
    float: right;
  }

  .led-green {
  //margin: 0 auto;
    width: 10px;
    height: 10px;
    background-color: #80ff00;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
    display: inline-block;
  }
</style>

<body>
  <div class="container">
    <div class="middle">
      <img src="/partly_cloudly.png" width="120" height="100" alt="weather icon"> <span class="temp"><%= @current_weather.temperature %> °F</span>
      <div class="summary"> <%= @current_weather.summary %></div>
        <div class="container1">
          Wind:
          <%= @current_weather.windSpeed %> mph

          <span class="pressure">
            Pressure:
            <%= @current_weather.pressure %> mb
          </span>

          <span class="humidity">
            Humidity:
            <%= @current_weather.humidity * 100 %> %
          </span>

          <span class="visibility">
            Visibility:
            <%= @current_weather.visibility %> km
          </span>

          <span class="weather_detail">
            <%= link_to 'more details', forecasts_details_path, method: :get %>
          </span>
        </div>
    </div>
    <hr>
    <h1>Available Drones</h1>
    <br>
    <div>
      <span class="led-green"></span> Drone1 ----- Battery: 80% |
      <!--  <span class="led-green"></span> Drone2 | Battery: 60%-->
    </div>
    <div>
      <span class="led-green"></span> Drone2 ----- Battery: 60%
    </div>
    <%= link_to 'Open Door', base_open_door_path, method: :put %>
    <%= link_to 'Close Door', base_close_door_path, method: :put %>
  </div>
</body>
</html>