<p id="notice"><%= notice %></p>

<div class="container">
<h1>Missions</h1>
</div>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Weight</th>
      <th>Drone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @missions.each do |mission| %>
      <tr>
        <td><%= mission.name %></td>
        <td><%= mission.location.name %></td>
        <td><%= mission.weight %></td>
        <td><%= mission.drone.id %></td>
        <td><%= mission.status %></td>
        <%# if mission.status == 'Saved'  %>
<!--          <td><%#= link_to 'Execute Mission', drone_mission_status_change_path(:id => mission.id, :mission_status => "Ongoing", :drone_status => "Busy"), method: :put  %>-->

<!--        </td>-->
        <%#end %>
        <td>
        <% if mission.drone.status == 'Busy'  %>
          "Drone is currently on a mission"
          <% else %>
         <%= link_to 'Execute Mission', drone_mission_status_change_path(:id => mission.id, :mission_status => "Ongoing", :drone_status => "Busy"), method: :put  %>

          </td>
        <%end %>

        <td> <% if mission.status == "Ongoing" %>
            <%= link_to "done", drone_mission_status_change_path(:id => mission.id, :drone_status => "Available", :mission_status => "done" ), method: :put %>
          <%end %>
        </td>


<!--        <td><%# if drone.status == 'Available'  %>-->
            <%#= link_to "Create Mission", drone_drone_mission_path(drone_id: drone.id) %>
          <%# else %>
<!--            Drone is currently on a mission.-->
          <%#end %>
<!--        </td>-->
<!--        <td><%#= link_to 'Show', mission %></td>-->
<!--        <td><%#= link_to 'Edit', edit_mission_path(mission) %></td>-->
<!--        <td><%#= link_to 'Destroy', mission, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

  <%= link_to 'Drone List', drone_drone_list_path %>
</div>
<br>

